<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'help_app/css/helper.css' %}">
    <title>Jobs</title>
</head>
<body>
    <div id='wrapper'>
        <h1>Welcome, {{request.session.user_first}}</h1>
        <a href="/log_out">Log out</a> 
        <a href="/add_job">Add a Job</a> <br>
            <table>
                <tr>
                    <th>Job</th>
                    <th>Location</th> 
                    <th>Action</th>
                </tr>
                {% for jobs in all_jobs %}
                <tr>
                    <td>{{jobs.title}}</td>
                    <td>{{jobs.location}}</td> 
                    <td>&nbsp;<a href="/view_job/{{jobs.id}}">View</a>&nbsp;<a href="/add_to_my_job/{{jobs.id}}">Add</a>
                        {% if jobs.user.id == request.session.user_id %}
                        &nbsp;<a href="/edit_job/{{jobs.id}}">Edit</a>
                        &nbsp;<a href="/delete/{{jobs.id}}">Cancel</a></td>
                        {%endif%}
                </tr>
                {% endfor%}
            </table>
            <div>
                    
                <h1>My Jobs</h1>

                
                
                {% for j in my_jobs %}
                    {{j.title}}
                    <a href="/view_job/{{j.id}}">View</a>
                    &nbsp;<a href="/delete/{{j.id}}">Done</a>
                    
                
                {% endfor %}
                
            </div>
    </div>
</body>
</html>